/* Simple Reset ~ Thanks */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BEGIN FORM STYLES */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans);


body{
  text-rendering: optimizeLegibility;
  font-family: 'Droid Sans', helvetica, sans-serif;
  background-color: #FCFCFC;
  height: 100%;
  margin: none;
  padding: 3rem;
}

h1 {
  font-family: 'Droid Sans', helvetica, sans-serif;
  font-size: 2rem;
  color: #CDCDCD;
  text-align: center;
  margin: 4% 0 4% 0;
  padding: none;

}

#form-container {
  max-width: 350px;
  margin: auto;
  padding: 0 1% 0 1%;
}

form {
  max-width: 100%;
}

input {
  font-family: 'Droid Sans', helvetica , sans-serif;
  border: none;
  outline: none;
  font-size: 1rem;
  text-indent: 5px;
  width: 90%;
  height: 2rem;
  background: #ecf0f1;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 2%;
  padding: 1%;
}

input:focus {
  opacity: .6;
}

textarea {
  font-family: 'Droid Sans', helvetica, sans-serif;
  resize: none;
  border: none;
  outline: none;
  font-size: 1rem;
  line-height: 2;
  text-indent: 5px;
  width: 90%;
  height: 9rem;
  background: #ecf0f1;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 2%;
  padding: 1%;
}

textarea:focus {
  opacity: .6;
}

input[type=submit] {
  margin-left: 40%;
  width: 54%;
  padding: 2%;
  height: 2.5rem;
  background: #F34B61;
  color: #FFFFFF;

  }

.artist {
  font-family: 'Droid Sans', helvetica, sans-serif;
  font-size: .6em;
  color: #cdcdcd;
  max-width: 100%;
  margin: 5% 0 0 0;
  padding: 0 1% 0 0;
  text-align: center;
}

.artist a {
  text-decoration: none;
  color: #F34B61;
}


/* Submit Button CSS animation */
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  } 50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(.9);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }

  70% {
    -o-transform: scale(.9);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}
